.director__text {
  position: inherit;
  z-index: 1;
  color: var(--white);
  height: 28px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .director__text {
    height: fit-content;
    margin-bottom: 15px;
  }
}
