.footer__bg-round {
  width: 100%;
  height: 75px;
  background-color: var(--white);
  border-radius: 0 0 var(--br) var(--br);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  margin-bottom: 115px;
}
