.gallery__horisontal {
  width: var(--w);
  max-width: var(--w-max-adaptive);
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
}

@media screen and (max-width: 450px) {
  .gallery__horisontal {
    gap: 10px;
  }
}
