.prev__title-gr {
  display: grid;
  align-items: center;
  height: 358px;
  border: 2px solid var(--white);
  border-radius: var(--br);
  color: var(--white);
  margin-top: 94px;
  box-sizing: border-box;
  padding: 109px;
}

@media screen and (max-width: 768px) {
  .prev__title-gr {
    height: fit-content;
    padding: 60px;
  }
}

@media screen and (max-width: 560px) {
  .prev__title-gr {
    padding: 40px;
  }
}

@media screen and (max-width: 370px) {
  .prev__title-gr {
    padding: 40px 25px;
  }
}
