.footer__gr {
  display: grid;
  width: 98vw;
  height: 646px;
  background: linear-gradient(180deg, #002664 0%, #00173e 100%);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25) inset,
    -10px -10px 30px rgba(0, 0, 0, 0.25) inset;
  min-height: 646px;
  height: fit-content;
}
