.about__text {
  grid-area: text1;
  max-width: 721px;
  min-width: 438px;
  width: 100%;
  color: var(--white);
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .about__text {
    margin-top: 45px;
    min-width: unset;
  }
}
