.prev {
  width: var(--w);
  max-width: var(--w-max-adaptive);
  height: fit-content;
  display: grid;
  gap: 17px;
  margin-bottom: 50px;
}

@media screen and (max-width: 450px) {
  .prev {
    gap: 10px;
  }
}
