.director__white-div {
  background-color: var(--white);
  width: 351px;
  height: 279px;
  border-radius: var(--br);
  position: absolute;
  right: 0;
  bottom: -22px;
  z-index: -2;
}

@media screen and (max-width: 745px) {
  .director__white-div {
    margin-right: 50px;
  }
}
