.director__white-div {
  background-color: var(--white);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  width: 351px;
  height: 279px;
  border-radius: var(--br);
  position: absolute;
  right: 0;
  bottom: -22px;
  z-index: -2;
}
