.kpi__gr {
  display: grid;
  margin: 0;
  gap: 5px;
  min-height: 86px;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  padding-left: var(--padding-left-card);
  padding-right: 24px;
}

@media screen and (max-width: 768px) {
  .kpi__gr {
    min-height: unset;
  }
}
