.poster__title {
  align-self: center;
  padding: 20px var(--padding-calc-flex);
}

@media screen and (min-width: 1440px) {
  .poster__title {
    padding: 20px var(--padding-calc-stat);
  }
}

@media screen and (max-width: 1050px) {
  .poster__title {
    padding: 40px 28px;
  }
}

@media screen and (max-width: 645px) {
  .poster__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 465px) {
  .poster__title {
    font-size: 24px;
  }
}
