@media screen and (max-width: 710px) {
  .footer__sn-gr {
    margin-top: 18px;
    padding-right: 62px;
  }
}

@media screen and (max-width: 370px) {
  .footer__sn-gr {
    padding-right: 12px;
  }
}
