.news__text-gr {
  display: grid;
  height: fit-content;
  max-height: 237px;
  overflow: hidden;
}

@media screen and (max-width: 1147px) {
  .news__text-gr {
    gap: 10px;
    /* width: 80%; было для svg чтоб пропорционально уменьшались*/
  }
}

/* @media screen and (max-width: 901px) {
  .news__text-gr {
    gap: 15px;
  }
} */
