.prev__kpi-gr-age {
  /* height: 98px; */
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  .prev__kpi-gr-age {
    height: fit-content;
  }
}

@media screen and (max-width: 1060px) {
  .prev__kpi-gr-age {
    padding: 0;
  }
}
