.lic__win {
  border: 1px solid var(--main-blue);
  padding: 20px;
  text-align: start;
  vertical-align: top;

  /* hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: justify; */
}

@media screen and (max-width: 390px) {
  .lic__win {
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: justify;
  }
}

/* td:nth-child(2),
th:nth-child(2) {
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: justify;
} */

td:first-child,
th:first-child {
  border-left: none;
}

td:last-child,
th:last-child {
  border-right: none;
}

tr:first-child th {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 530px) {
  .lic__win {
    padding: 10px;
  }
}
