@media screen and (max-width: 390px) {
  .lic__win {
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: justify;
  }
}

@media screen and (max-width: 530px) {
  .lic__win {
    padding: 10px;
  }
}
