.prev {
  width: var(--w);
  max-width: var(--w-max-adaptive);
  height: 884px;
  justify-self: center;
  align-content: baseline;
  display: grid;
  position: relative;
  margin-bottom: 60px;
  box-sizing: border-box;
  padding: 0 32px;
}

@media screen and (max-width: 1060px) {
  .prev {
    margin-bottom: 162px;
  }
}
