.gallery {
  display: grid;
  gap: 17px;
  width: var(--w);
  max-width: var(--w-max-adaptive);
  height: fit-content;
  margin-top: 50px;
}

@media screen and (max-width: 450px) {
  .gallery {
    gap: 10px;
  }
}
