.header__lists {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  /* width: 794px; */
  width: 75%;
  font-size: 14px;
}

@media screen and (max-width: 1020px) {
  .header__lists {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .header__lists {
    display: none;
  }
}
