.news__img {
  /* box-sizing: border-box;
  display: block;
  max-width: initial; */
  height: 166.66px;
  width: 252px;
  min-width: 252px;
  clip-path: path(
    "M0.02099,146.596l-0.00009,-105.3993c0,-22.4709 7.22934,-32.90374 27.5786,-32.90374h55.4249c0,0 11.2457,-5.16497 13.3877,-6.15287c2.1421,-0.9879 5.8909,-2.13992 5.8909,-2.13992c16.065,0 101.539,-0.00001 124.773,-0.00017c22.223,-0.00015 24.901,13.3756 24.901,22.7385v87.4765v25.413c0,0 0.703,10.433 -5.623,17.656c-6.325,7.223 -19.278,7.223 -19.278,7.223h-81.665c0,0 -5.087,2.274 -11.513,4.28c-6.427,2.006 -13.12,1.873 -13.12,1.873h-97.4626c-24.90107,0 -23.29443,-11.771 -23.2944,-20.064z"
  );
  object-fit: cover;
  /* transform: scale(1.2); */
  align-self: center;
}
