.news__img {
  height: 204px;
  width: 309px;
  min-width: 309px;
  clip-path: path(
    "M0.0257444 179.439L0.02563 50.4264C0.02563 22.9211 8.89018 10.1509 33.8422 10.1509H101.804C101.804 10.1509 115.593 3.82878 118.22 2.61955C120.846 1.41032 125.443 0.0002046 125.443 0.0002046C145.142 0.0002046 249.949 0.000190875 278.438 0C305.688 -0.000182572 308.972 16.3722 308.972 27.8328V134.907V166.014C308.972 166.014 309.833 178.785 302.077 187.626C294.321 196.466 278.438 196.466 278.438 196.466H178.302C178.302 196.466 172.064 199.25 164.184 201.706C156.304 204.161 148.096 203.998 148.096 203.998H28.5892C-1.94434 203.998 0.0257123 189.59 0.0257444 179.439Z"
  );
  object-fit: cover;
  align-self: center;
}

@media screen and (max-width: 1390px) {
  .news__img {
    height: 166.66px;
    width: 252px;
    min-width: 252px;
    clip-path: path(
      "M0.02099,146.596l-0.00009,-105.3993c0,-22.4709 7.22934,-32.90374 27.5786,-32.90374h55.4249c0,0 11.2457,-5.16497 13.3877,-6.15287c2.1421,-0.9879 5.8909,-2.13992 5.8909,-2.13992c16.065,0 101.539,-0.00001 124.773,-0.00017c22.223,-0.00015 24.901,13.3756 24.901,22.7385v87.4765v25.413c0,0 0.703,10.433 -5.623,17.656c-6.325,7.223 -19.278,7.223 -19.278,7.223h-81.665c0,0 -5.087,2.274 -11.513,4.28c-6.427,2.006 -13.12,1.873 -13.12,1.873h-97.4626c-24.90107,0 -23.29443,-11.771 -23.2944,-20.064z"
    );
    object-fit: cover;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .news__img {
    clip-path: path(
      "M0.016663 116.346L0.016589 32.6958C0.016589 14.8617 5.75416 6.58172 21.9044 6.58172H65.8924C65.8924 6.58172 74.8175 2.48253 76.5176 1.69848C78.2176 0.914436 81.1926 0.00013266 81.1926 0.00013266L180.219 0C197.857 -0.000118377 199.982 10.6155 199.982 18.0464V87.472V107.642C199.982 107.642 200.539 115.922 195.519 121.654C190.499 127.386 180.219 127.386 180.219 127.386H115.406C115.406 127.386 111.368 129.191 106.268 130.783C101.168 132.376 95.8553 132.269 95.8553 132.269H18.5043C-1.25847 132.269 0.0166423 122.928 0.016663 116.346Z"
    );
    object-fit: cover;
    width: 202px;
    min-width: 202px;
    height: 132.27px;
    overflow: hidden;
  }
}

@media screen and (max-width: 610px) {
  .news__img {
    clip-path: none;
    /* width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px; */
    border-radius: var(--br-c);
    width: 100%;
  }
}

/* .news__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
} */
