.about {
  width: 98vw;
  max-width: 1440px;
  min-height: 738px;
  height: fit-content;
  background: linear-gradient(180deg, #002664 5%, #001a46 100%);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25) inset,
    -10px -10px 25px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br);
  display: grid;
  column-gap: 20px;
  grid-template-columns: minmax(438px, 721px) minmax(240px, 326px);
  grid-template-rows:
    30px minmax(min-content, max-content) minmax(min-content, max-content)
    minmax(min-content, max-content) minmax(min-content, max-content);

  grid-template-areas:
    "title ."
    "text1 img"
    "text2 img"
    "gr img"
    "kpi img";

  box-sizing: border-box;
  padding: 80px calc((100vw - var(--ws)) / 2);

  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .about {
    padding: 80px calc((1440px - var(--w-small-max-adaptive)) / 2);
  }
}

@media screen and (max-width: 1060px) {
  .about {
    grid-template-areas:
      "title ."
      "text1 text1"
      "text2 text2"
      "gr img"
      "kpi img";
  }
}

@media screen and (max-width: 805px) {
  .about {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows:
      30px minmax(min-content, max-content) minmax(min-content, max-content)
      minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);

    grid-template-areas:
      "title"
      "text1"
      "text2"
      "gr"
      "kpi"
      "next";
  }
}
