.cert__img-link {
  width: 254px;
  height: 364px;
}

@media screen and (max-width: 797px) {
  .cert__img-link {
    width: 220px;
    height: auto;
  }
}

@media screen and (max-width: 689px) {
  .cert__img-link {
    width: 174px;
  }
}
