.cert__img {
  width: 254px;
  height: 362px;
  object-fit: contain;
  border: solid 1px var(--main-blue);
}

@media screen and (max-width: 797px) {
  .cert__img {
    width: 220px;
    height: auto;
  }
}

@media screen and (max-width: 689px) {
  .cert__img {
    width: 174px;
  }
}
