.prev__title-gr {
  display: grid;
  align-items: center;
  height: 358px;
  border: 2px solid var(--white);
  border-radius: var(--br);
  color: var(--white);
  margin-top: 94px;
  box-sizing: border-box;
  padding: 109px;
}
