.prev__kpis {
  position: absolute;
  top: 646px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: var(--ws);
  max-width: var(--w-small-max-adaptive);
  min-height: 238px;
  height: fit-content;
  border-radius: var(--br);
  background-color: var(--white);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 52px 74px;
}

@media screen and (max-width: 1180px) {
  .prev__kpis {
    padding: 52px;
  }
}

@media screen and (max-width: 1060px) {
  .prev__kpis {
    flex-flow: column;
    gap: 45px;
    padding: 80px 109px;
  }
}

@media screen and (max-width: 768px) {
  .prev__kpis {
    padding: 50px 80px;
    gap: 30px;
  }
}

@media screen and (max-width: 516px) {
  .prev__kpis {
    padding: 50px 50px;
  }
}
