.links {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  width: var(--w);
  max-width: var(--w-max-adaptive);
  min-height: 195px;
  height: fit-content;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  padding: 0 var(--padding-calc-flex);
  margin-bottom: 37px;
}

@media screen and (min-width: 1440px) {
  .links {
    padding: 0 var(--padding-calc-stat);
  }
}

@media screen and (max-width: 868px) {
  .links {
    min-height: 175px;
    gap: 27px;
    padding: 30px var(--padding-calc-flex);
  }
}

@media screen and (max-width: 789px) {
  .links {
    gap: 20px;
  }
}

@media screen and (max-width: 645px) {
  .links {
    gap: 15px;
  }
}

/* @media screen and (max-width: 455px) {
  .links {
    padding-left: 40px;
  }
} */

/* @media screen and (max-width: 395px) {
  .links {
    padding-left: 20px;
  }
} */
