.director__img {
  width: 343px;
  height: 381px;
  border-radius: var(--br);
  position: absolute;
  left: 0;
  top: -106px;
  z-index: 1;
  object-fit: cover;
}

@media screen and (max-width: 1060px) {
  .director__img {
    width: 35%;
    height: auto;
    min-width: 241px;
  }
}

@media screen and (max-width: 745px) {
  .director__img {
    top: -180px;
    left: 50px;
  }
}

@media screen and (max-width: 370px) {
  .director__img {
    left: 10%;
  }
}

@media screen and (max-width: 319px) {
  .director__img {
    left: 8px;
    width: 90%;
    min-width: unset;
  }
}
