.items__gr {
  display: flex;
  position: relative;
  width: var(--ws);
  max-width: var(--w-small-max-adaptive);
  height: 70px;
  padding: 0;
  overflow: hidden;
  border: none;
}

@media screen and (max-width: 930px) {
  .items__gr {
    max-height: 89px;
    min-height: 70px;
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .items__gr {
    min-height: 58px;
    max-height: unset;
  }
}
