.items__text-gr {
  display: flex;
  align-items: center;
  height: 100%;
  width: 68%;
  background-color: var(--white);
  border-radius: var(--br);
  position: absolute;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 24px 60px 24px 36px;
}

@media screen and (max-width: 768px) {
  .items__text-gr {
    height: fit-content;
    padding: 18px 60px 18px 36px;
  }
}

@media screen and (max-width: 490px) {
  .items__text-gr {
    width: 80%;
  }
}

@media screen and (max-width: 410px) {
  .items__text-gr {
    width: 100%;
  }
}
